
@import './parallacCarosel';
@import './imageEnlarge';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: white;
    scroll-behavior: none;
  }
  
  .mode{
   
    position: fixed;
    font-size: 1.5em;
    padding: 0.4%;
    margin-left: 20px;
    margin-top: 5px;
    border-radius: 21px;
  }

  button{
    cursor: pointer;
    border: 1px solid #555;
    text-align: center;
    padding: 5px;
    margin-left: 8px;
}
.mode{
    background-color: #222;
    color: #e6e6e6;
}